.user-form {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.user-form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.user-form .form-control:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 150, 2, .25);
  border-color: #ff9602;
  z-index: 2;
}

.user-form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.user-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary {
  margin-top: 10px;
  color: #fff !important;
  border-color: #ff9602 !important;
  background-color: #ff9602 !important;
}

.btn:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 150, 2, .25) !important;
  border-color: #ff9602 !important;
}

a:hover {
  text-decoration: none !important;
}
