.my-navbar{
    padding: 4px;
    font-size: 1.3em;
    padding: 10px;
    text-emphasis-color: orange;
    text-align: center;

}

.my-item{
    width: 500px;
}

.my-container{
    text-emphasis-color: orange;
}

.my-dropdown{
    padding-left: 20px;
}